[submodule "Assets/Extern/cui_color_picker"]
	path = Assets/Extern/cui_color_picker
	url = https://github.com/as3mbus/cui_color_picker
[submodule "Assets/Extern/SimpleFileBrowser"]
	path = Assets/Extern/SimpleFileBrowser
	url = https://github.com/as3mbus/SimpleFileBrowser.git
