

[submodule "Assets/Extern/cui_color_picker"]
	path = Assets/Unity-Open-Stories/Creator/Plugins/cui_color_picker
	url = https://github.com/as3mbus/cui_color_picker.git
[submodule "docs"]
	path = docs
	url = https://github.com/as3mbus/Unity-Open-Story-Docs.git
[submodule "Assets/Extern/SimpleFileBrowser"]
	path = Assets/Unity-Open-Stories/Creator/Plugins/SimpleFileBrowser
	url = https://github.com/as3mbus/SimpleFileBrowser.git
